html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#listings {
    height: 100%;
    width: 30%;
    float: left;
}

.list-view {
    list-style-type: none;
    margin-bottom: 25px;
    font-size: 18px;
    margin-left: 0;
}

form input {
    margin-top: 10px;
    margin-left: 10px;
}

form button {
    margin-top: 10px;
    margin-left: 10px;
}

#map {
    height: 100%;
    width: 70%;
}