html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

.mobile-search-bar {
    display: none;
}

#listings {
    height: 1700px;
    width: 30%;
    float: left;
    background-color: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
}

.list-view {
    list-style-type: none;
    margin-bottom: 25px;
    font-size: 18px;
    margin-left: 0;
    color: #2296F3;
    height: 100%;
}

form {
    background-color: #3F51B5;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    height: 75px;
}

form input {
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 4px;
    border: 1px solid #3F51B5;
    height: 40%;
    width: 60%;
    padding-left: 15px;
}

form button {
    margin-top: 10px;
    margin-left: 10px;
    height: 40%;
    width: 20%;
    border-radius: 10px;
    background-color: #683BB7;
    color: #EFEFEF;
    border: 1px solid #683BB7;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.fixed {
    position: fixed;
    height: 100%;
    display: inline-block;
    width: 70%;
}

#map {
    height: 100%;
    width: 100%;
}

.marker-title {
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.marker-content {
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 699px) {
    #listings {
        display: none;
    }
    .fixed {
        width: 100%;
    }
    .mobile-search-bar {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }
    .search-btn {
        width: 100px;
    }
}